* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.brand {
  font-size: 2rem;
  color: black;
  font-family: "Dancing Script", cursive;
}
.brand:hover {
  color: black;
}
.nav-link {
  margin-left: 10px;
  font-family: "Rubik", sans-serif;
  margin-right: 10px;
  color: black;
  text-transform: uppercase;
}
.nav-link:hover {
  color: black;
}
.search {
  height: 40px;
  width: 80%;
  font-family: "Rubik", sans-serif;
  border-radius: 60px;
  outline: none;
  margin-right: -35px;
  border: 2px solid rgb(248, 26, 92);
}
.btn0 {
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  background: rgb(248, 26, 92);
  color: white;
  border-radius: 60px;
  font-weight: 700;
}
.main {
  background: url(https://img.freepik.com/free-photo/top-view-elegant-plate-with-copy-space_23-2148517997.jpg)
    no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 50% 50%;
  width: 100%;
}
.main h1{
  font-size: 4rem;
  font-weight: 700;
}
.btn1{
  height: 45px;
  width: 35%;
  border:none;
  outline:none;
  background-color:rgb(248, 26, 92);
  color: white;
  font-weight: 700;
  border-radius: 60px;
}
.btn1:hover{
  background-color:rgb(248, 26, 92); 
  transition: 0.5s;

}
  .h1{
    font-weight: 700;
  }
  .card:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
 box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
transition: 0.5s;
  }